<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="../assets/css/main.css">

    <title>404 Studio | Home page</title>
</head>

<body>

    <div class="navbar">
        <div class="nav-items">
            <h1 class="logo"><strong>404</strong> <br>Studios</h1>
            <ul>
                <li>
                    <h3>Github</h3>
                </li>
                <li>
                    <h3>Discord</h3>
                </li>
                
                <li>
                    <h3>API</h3>
                </li>
                <li>
                    <h3><a href="projects.html">Projects</a></h3>
                </li>
                <li>
                    <h3><a href="team.html">Team</a></h3>
                </li>
                <li>
                    <h3 class="current-page"><a href="home.html">Home</a></h3>
                </li>
            </ul>
        </div>
        <div class="nav-end">

        </div>
    </div>

    <div class="cta">
        <h1 class="cta-header">Welcome to 404 Studios</h1>
        <p class="cta-p">A <a href="team.html">team</a> of developers that specialise in Discord bot development, npm packages, backend, frontend, & more!</p>
    </div>


</body>
<script>
    AOS.init();
</script>

</html>