<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link rel="stylesheet" href="../assets/css/main.css">

    <title>404 Studio | Home page</title>
</head>

<body>

    <div class="navbar">
        <div class="nav-items">
            <h1 class="logo"><a href="home.html"><strong>404</strong> <br>Studios</a></h1>
            <ul>
                <li>
                    <h3>Github</h3>
                </li>
                <li>
                    <h3>Discord</h3>
                </li>
                
                <li>
                    <h3><a href="api.html">API</a></h3>
                </li>
                <li>
                    <h3><a href="projects.html">Projects</a></h3>
                </li>
                <li>
                    <h3 class="current-page"><a href="team.html">Team</a></h3>
                </li>
                <li>
                    <h3><a href="home.html">Home</a></h3>
                </li>
            </ul>
        </div>
        <div class="nav-end">
        </div>
    </div>

    <div class="team">
        <h1 class="team-h1">The Team</h1>
        <div class="cards">
            <div class="card">
            <h1>Lavender</h1>
            <p>Heyo, Im lavender a 13 year old developer that specialises in frontend, backend and discord bot development!</p>
            <img class="lav-image" src="../assets/img/lavender.webp" alt="Lavender's PFP">
        </div>

        <div class="card">
            <h1>Friswik</h1>
            <p>idiot on the go</p>
            <img class="friswik-img" src="../assets//img/friswik.webp" alt="Friswik's PFP">
        </div>

        <div class="card">
            <h1>naaaah</h1>
            <p>Hello, I'm a front-end developer. I love Discord and programming</p>
            <img class="naaaah-img" src="../assets//img/naaaah.webp" alt="naaaah's PFP">
        </div>
    </div>
        </div>
        